<div class="label-field">
  <div class="label-field-label">
    <ng-content select="[label]"></ng-content>
  </div>
  <div class="label-field-field">
    <ng-content select="[field]"></ng-content>
  </div>
</div>
