<page-content>
  <div class="categories">
    <div fxLayout="row"
        fxLayout.sm="column"
        fxLayoutAlign="space-between"
        fxLayoutGap="0"
        fxLayoutGap.sm="15px"
        class="categories-filter">
      <select (change)="onPropertyChanged($event.target.value)" fxFlex="25%" fxFlex.md="33%" fxFlex.sm="100%" class="categories-select">
        <option value="">{{ 'COMMON.PROPERTY' | translate }}</option>
        <option *ngFor="let property of properties$ | async"
            [value]="property.propertyId"
            [selected]="property.propertyId === selectedPropertyId">
          {{ property.propertyName }}
        </option>
      </select>
      <asl-button *ngIf="hasEditPermission()" fxFlexAlign.sm="end" (click)="onCreateClicked()">
        {{ 'SERVICES.CREATE_NEW_CATEGORY' | translate }}
      </asl-button>
    </div>
    <asl-table [headers]="tableHeaders"
        [data]="data$ | async"
        [columnsTemplate]="columns"
        (onQueryChanged)="onTableQueryChanged($event)"
        class="categories-list-container">
      <ng-template #columns let-row="row">
        <td>{{ row.property }}</td>
        <td>{{ row.category }}</td>
        <td *ngIf="hasEditPermission()">
          <span (click)="onEditClicked(row)" class="categories-list-action">{{ 'COMMON.EDIT' | translate }}</span> | 
          <span (click)="onDeleteClicked(row)" class="categories-list-action">{{ 'COMMON.DELETE' | translate }}</span>
        </td>
      </ng-template>
    </asl-table>
  </div>
</page-content>
<modal [(show)]="modalVisible">
  <page-content class="categories-update-modal">
    <modal-content>
      <span header fxFlex="">
        {{ (isInEditMode ? 'SERVICES.EDIT_SERVICES_CATEGORY' : 'SERVICES.CREATE_SERVICES_CATEGORY') | translate }}
      </span>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="7px" class="categories-update-modal-label-field">
        <div class="categories-update-modal-title" [ngClass]="{'__required': isCheckProperty}" fxFlex="1 1 68px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
            {{ 'COMMON.PROPERTY' | translate }}
        </div>
        <select (change)="onModalPropertyChanged($event.target.value)" fxFlex="1 0 auto">
          <option value="">{{ 'COMMON.SELECT' | translate }}</option>
          <option *ngFor="let property of properties$ | async"
              [value]="property.propertyId"
              [selected]="property.propertyId === modalSelectedPropertyId">
            {{ property.propertyName }}
          </option>
        </select>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="7px" class="categories-update-modal-label-field">
        <div class="categories-update-modal-title __required" fxFlex="1 1 68px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
          {{ 'COMMON.CATEGORY' | translate }}
        </div>
        <input trim [(ngModel)]="modalCategory" fxFlex="1 0 auto">
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="0" class="categories-update-modal-label-field">
        <div class="categories-update-modal-title" fxFlex="1 1 68px" fxFlex.sm=" 1 1 0" fxLayoutAlign="end" fxLayoutAlign.sm="start"></div>
        <div fxFlex="1 0 auto">
          <asl-button (click)="onSubmitClicked()" [disabled]="isSubmitDisabled()">{{ 'COMMON.SUBMIT' | translate }}</asl-button>
          <asl-button [secondary]="true" (click)="onCancelClicked()">{{ 'COMMON.CANCEL' | translate }}</asl-button>
        </div>
      </div>
    </modal-content>
  </page-content>
</modal>
<confirm-dialog [(show)]="confirmDialogVisible"
    (confirm)="onDeleteConfirmed()"
    [header]="'COMMON.DELETE' | translate"
    [autoClose]="true"
    [message]="'SERVICES.ARE_YOUR_SURE_WANT_TO_DELETE_THIS_CATEGORY_?' | translate">
</confirm-dialog>
