@import 'main.styl'

categories-bottom-spacing = 50px
filter-list-spacing = 25px
label-field-spacing = 15px

select
  width 200px

.categories
  padding page-content-spacing-top page-content-spacing-base categories-bottom-spacing
  &-select
    width 100%
  &-list-action
    font-linkable()
  &-filter + &-list-container
    margin-top filter-list-spacing
    >>> .asl-table
      margin-top filter-list-spacing
  &-update-modal
    max-width modal-min-width-sm
    width 100%
    >>> .page-content
      margin-left modal-border-outer-spacing
      margin-right modal-border-outer-spacing
    &-title
      font-label()
      white-space pre
      &.__required::after
        content '*'
        font-label(color-danger)
    &-label-field + &-label-field
      margin-top label-field-spacing

@media screen and (max-width 768px)
  .categories
    &-update-modal
      max-width 100%

form
  width 100%
  max-width 600px