@import '../variables.styl'

@font-face
  font-family: 'Roboto'
  src: local('Roboto'), url('/assets/fonts/Roboto-Regular.ttf') format('truetype')
  font-weight: font-weight-regular

@font-face
  font-family: 'Roboto'
  src: local('Roboto-Bold'), url('/assets/fonts/Roboto-Bold.ttf') format('truetype')
  font-weight: font-weight-bold
