@import 'main.styl'

row-spacing = 11px
font-size-row = 13px

.view-facilities
  &-row
    font-size font-size-row
    padding-bottom row-spacing
    padding-top row-spacing
    &:first-of-type
      border-top border-regular
      margin-top row-spacing
    &:last-of-type
      padding-bottom 0
  &-row + &-row
    border-top border-regular
  &-field
    font-weight font-weight-bold
