<confirm-dialog [(show)]="modalVisible"
    [defaultFooter]="false"
    header="FACILITIES.BOOKING_VIEW"
    class="view-facilities"
    (cancel)="onCloseClicked()">
  <div modal-body>
    <ng-container *ngFor="let row of detailLabelFieldMapping">
      <div *ngIf="shouldShowRow(row, facilitiesBookingsDetail$ | async)" fxLayout="row" class="view-facilities-row">
        <div fxFlex="1 0 35%" fxFlex.sm="1 0 50%" class="view-facilities-field" translate>{{ row.label }}</div>
        <div fxFlex="1 0 65%" fxFlex.sm="1 0 50%">
          {{
            (row.key === 'status' ?
              getDisplayStatus((facilitiesBookingsDetail$ | async)[row.key]) :
              (facilitiesBookingsDetail$ | async)[row.key]) | translate
          }}
        </div>
      </div>
    </ng-container>
  </div>
  <asl-button modal-footer (click)="onCloseClicked()">{{ 'COMMON.CLOSE' | translate }}</asl-button>
</confirm-dialog>
