@import 'main.styl'

file-input-inner-spacing = 30px
file-input-icon-spacing = 10px
upload-button-inner-spacing = 10px

upload-button()
  align-items center
  border 1px solid color-border
  border-left 0
  cursor pointer
  display flex
  padding-left upload-button-inner-spacing
  padding-right upload-button-inner-spacing
  user-select none
  &:hover
    background-color #e6e6e6
  &:active
    background-color #e6e6e6
    box-shadow 0 2px 5px rgba(0, 0, 0, 0.15) inset
  &:hover:active
    background-color #d4d4d4

.file-uploader
  &-container
    position relative
  &-input
    padding-left file-input-inner-spacing
    width 100%
    &-hidden
      display none
    &-icon
      left file-input-icon-spacing
      position absolute
      top 50%
      transform translateY(-50%)
  &-button
    upload-button()
