<div fxFlex="1 0 auto" fxLayout="row" class="file-uploader">
  <div fxFlex="1 0 auto" class="file-uploader-container">
    <span *ngIf="fileName" class="file-uploader-input-icon glyphicon glyphicon-file fileinput-exists"></span>
    <input [(ngModel)]="fileName" readonly (click)="onFileInputClicked()" class="file-uploader-input">
  </div>
  <input type="file"
      #fileUploader
      (change)="onFileChange($event)"
      [accept]="accept"
      class="file-uploader-input-hidden">
  <div *ngIf="!fileUrl" (click)="onFileInputClicked()" class="file-uploader-button">{{ 'FILE_UPLOADER.UPLOAD' | translate }}</div>
  <div *ngIf="fileUrl" (click)="onFileInputClicked()" class="file-uploader-button">{{ 'FILE_UPLOADER.CHANGE' | translate }}</div>
  <div *ngIf="fileUrl" (click)="onFileRemoveClicked()" class="file-uploader-button">{{ 'FILE_UPLOADER.REMOVE' | translate }}</div>
</div>
