@import 'main.styl'

facilities-bottom-spacing = 50px
filter-list-spacing = 25px
label-field-spacing = 15px
label-actions-spacing = 24px
label-image-spacing = 24px
upload-button-inner-spacing = 10px
image-max-width = 413px
file-input-inner-spacing = 28px
file-input-icon-spacing = 10px
clockpicker-padding = 12px


upload-button()
  align-items center
  border 1px solid color-border
  cursor pointer
  display flex
  padding-left upload-button-inner-spacing
  padding-right upload-button-inner-spacing
  user-select none
  &:hover
    background-color #e6e6e6
  &:active
    background-color #e6e6e6
    box-shadow 0 2px 5px rgba(0, 0, 0, 0.15) inset
  &:hover:active
    background-color #d4d4d4

.facilities
  &-update-modal
    max-width modal-min-width-md
    >>> > *
      @media screen and (max-width: 768px)
        margin-left modal-border-outer-spacing
        margin-right modal-border-outer-spacing
    width 100%
    &-title
      font-label()
      white-space pre
      &.__required::after
        content '*'
        font-label(color-danger)
    &-label-field + &-label-field
      margin-top label-field-spacing
    &-label-field + ._actions
      margin-top label-actions-spacing
      @media screen and (max-width: 768px)
        margin-top 0
    &-label-field + ._image
      margin-top label-image-spacing
    &-upload-button
      upload-button()
    input + &-upload-button,
    &-upload-button + &-upload-button
      border-left 0
    &-uploader
      display none
    &-image
      max-width image-max-width
    &-file
      &-input
        padding-left file-input-inner-spacing
        width 100%
      &-container
        position relative
      &-icon
        left file-input-icon-spacing
        position absolute
        top 50%
        transform translateY(-50%)
    &-clockpicker
      &-input
        width 100%
      &-icon
        align-items center
        border select-input-border
        border-left 0
        cursor pointer
        display flex
        padding-left clockpicker-padding
        padding-right clockpicker-padding
    >>> .modal-content
      @media screen and (max-width: 768px)
        padding 0 5%
