<modal [(show)]="modalVisible">
  <page-content class="facilities-update-modal">
    <modal-content>
      <span header fxFlex="" translate>
        {{ getIsInEditMode() ? 'FACILITIES.EDIT_FACILITY' : 'FACILITIES.CREATE_FACILITY' }}
      </span>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="facilities-update-modal-label-field">
        <div class="facilities-update-modal-title __required" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
          {{ 'COMMON.PROPERTY' | translate }}
        </div>
        <select [(ngModel)]="propertyId" (change)="onPropertyChanged()" fxFlex="1 0 auto">
          <option value="">{{ 'COMMON.SELECT' | translate }}</option>
          <option *ngFor="let property of properties$ | async"
              [value]="property.propertyId"
              [selected]="property.propertyId === modalSelectedPropertyId">
            {{ property.propertyName }}
          </option>
        </select>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="facilities-update-modal-label-field">
        <div class="facilities-update-modal-title __required" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
          {{ 'COMMON.CATEGORY' | translate }}
        </div>
        <select [(ngModel)]="categoryId" [disabled]="!propertyId" fxFlex="1 0 auto">
          <option value="">{{ 'COMMON.SELECT' | translate }}</option>
          <ng-container *ngFor="let categoryItem of facilitiesCategoriesNames$ | async">
            <option *ngIf="categoryItem.isEnabled || categoryItem.id === (facilitiesDetail$ | async).categoryId"
                [value]="categoryItem.id"
                [selected]="categoryItem.id === categoryId">
              {{ categoryItem.category }}
            </option>
          </ng-container>
        </select>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="facilities-update-modal-label-field">
        <div class="facilities-update-modal-title __required" fxFlex.sm="1 1 auto" fxFlex="1 1 155px" fxLayoutAlign="end" fxLayoutAlign.sm="start">
            {{ 'FACILITIES.NAME' | translate }}
        </div>
        <input [(ngModel)]="name" fxFlex="1 0 auto">
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="facilities-update-modal-label-field">
        <div class="facilities-update-modal-title __required" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
            {{ 'FACILITIES.DESCRIPTION' | translate }}
        </div>
        <input [(ngModel)]="description" fxFlex="1 0 auto">
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="facilities-update-modal-label-field">
        <div class="facilities-update-modal-title __required" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
          {{ 'FACILITIES.IMAGE' | translate }}
        </div>
        <file-uploader fxFlex="1 0 auto"
            (onFileChanged)="onImageChange($event)"
            [(fileName)]="imageName"
            [(fileUrl)]="imageUrl"
            accept="image/*">
        </file-uploader>
      </div>
      <div *ngIf="imageUrl" fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="facilities-update-modal-label-field _image">
        <div class="facilities-update-modal-title" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start"></div>
        <div fxFlex="1 0 auto">
          <img class="facilities-update-modal-image"
              [src]="imageUrl">
        </div>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="facilities-update-modal-label-field">
        <div class="facilities-update-modal-title __required" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
            {{ 'FACILITIES.LOCATION' | translate }}
        </div>
        <input [(ngModel)]="location" fxFlex="1 0 auto">
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="facilities-update-modal-label-field">
        <div class="facilities-update-modal-title __required" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
            {{ 'FACILITIES.PRICE' | translate }}
        </div>
        <input [(ngModel)]="priceInfo" fxFlex="1 0 auto">
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="facilities-update-modal-label-field">
        <div class="facilities-update-modal-title __required" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
            {{ 'FACILITIES.CAPACITY' | translate }}
        </div>
        <input [(ngModel)]="capacity" fxFlex="1 0 auto">
      </div>
      <div fxLayout="row" fxLayoutGap="30px" fxLayoutGap.sm="15px" fxLayout.sm="column" class="facilities-update-modal-label-field _actions">
        <div class="facilities-update-modal-title" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start"></div>
        <div fxFlex="1 0 auto">
          <asl-button (click)="onSubmitClicked()" [disabled]="isSubmitDisabled()">{{ 'COMMON.SUBMIT' | translate }}</asl-button>
          <asl-button [secondary]="true" (click)="onCancelClicked()">{{ 'COMMON.CANCEL' | translate }}</asl-button>
        </div>
      </div>
    </modal-content>
  </page-content>
</modal>
