@import 'main.styl'

modal-padding = 30px
animation-duration-modal = 0.15s
animation-duration-content = 0.3s
mask-background-color = rgba(0, 0, 0, 0.3)

.modal
  align-items center
  animation modal-mask-show animation-duration-modal, content-move-in animation-duration-content
  background-color mask-background-color
  display flex
  flex-direction column
  height 100%
  max-height 100%
  left 0
  overflow-y auto
  padding-bottom modal-padding
  padding-top modal-padding
  position fixed
  top 0
  width 100%
  &.__hidden
    animation modal-mask-hide animation-duration-modal, content-move-out animation-duration-content
    background-color rgba(0, 0, 0, 0)
    >>> > *
      animation content-fade-out animation-duration-content
      opacity 0
  >>> > *
    animation content-fade-in animation-duration-content
    padding-bottom "calc(%s * 2)" % modal-padding

@keyframes modal-mask-show
  from
    background-color rgba(0, 0, 0, 0)
  to
    background-color mask-background-color

@keyframes modal-mask-hide
  from
    background-color mask-background-color
  to
    background-color rgba(0, 0, 0, 0)

@keyframes content-move-in
  from
    padding-top 0
  to
    padding-top modal-padding

@keyframes content-move-out
  from
    padding-top modal-padding
  to
    padding-top 0

@keyframes content-move-in-sm
  from
    padding-top 0
  to
    padding-top modal-border-outer-spacing

@keyframes content-move-out-sm
  from
    padding-top modal-border-outer-spacing
  to
    padding-top 0

@keyframes content-fade-in
  from
    opacity 0
  to
    opacity 1

@keyframes content-fade-out
  from
    opacity 1
  to
    opacity 0

@media screen and (max-width: 768px)
  .modal
    animation modal-mask-show animation-duration-modal, content-move-in-sm animation-duration-content
    padding-top modal-border-outer-spacing
    &.__hidden
      animation modal-mask-hide animation-duration-modal, content-move-out-sm animation-duration-content
