@import 'main.styl'

page-content-shadow = 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)

.page-content
  background-color color-base
  box-shadow page-content-shadow
