<page-content>
  <div class="facilities">
    <div fxLayout="row"
        fxLayout.sm="column"
        fxLayoutAlign="space-between"
        fxLayoutGap="0"
        fxLayoutGap.sm="15px"
        class="facilities-filter">
      <select (change)="onPropertyChanged($event.target.value)" fxFlex="25%" fxFlex.md="33%" fxFlex.sm="100%" class="categories-select">
        <option value="">{{ 'COMMON.PROPERTY' | translate }}</option>
        <option *ngFor="let property of properties$ | async"
            [value]="property.propertyId"
            [selected]="property.propertyId === getSelectedPropertyId()">
          {{ property.propertyName }}
        </option>
      </select>
      <asl-button *ngIf="hasEditPermission()" fxFlexAlign.sm="end" (click)="onCreateClicked()">
        {{ 'FACILITIES.CREATE_NEW_FACILITY' | translate }}
      </asl-button>
    </div>
    <div class="facilities-list-wrapper">
      <asl-table [headers]="tableHeaders"
          [data]="list$ | async"
          [columnsTemplate]="columns"
          (onQueryChanged)="onTableQueryChanged($event)"
          class="facilities-list-container">
        <ng-template #columns let-row="row">
          <td>{{ row.propertyName }}</td>
          <td>{{ row.category }}</td>
          <td>{{ row.name }}</td>
          <td *ngIf="hasEditPermission()">
            <span (click)="onEditClicked(row)" class="facilities-list-action">{{ 'COMMON.EDIT' | translate }}</span> | 
            <span (click)="onToggleClicked(row)" class="facilities-list-action" translate>{{ row.isEnabled ? 'COMMON.DISABLE' : 'COMMON.ENABLE' }}</span>
          </td>
        </ng-template>
      </asl-table>
    </div>
  </div>
</page-content>
<router-outlet (activate)="onChildrenEmit($event)"></router-outlet>
