@import 'main.styl'

categories-bottom-spacing = 20px
filter-list-spacing = 25px
label-field-spacing = 15px
table-wrapper-padding-bottom = 30px

.categories
  padding page-content-spacing-top page-content-spacing-base categories-bottom-spacing
  &-select
    width 100%
  &-list
    &-action
      font-linkable()
    &-wrapper
      overflow-x auto
      padding-bottom table-wrapper-padding-bottom
  &-filter + &-list-wrapper
    margin-top filter-list-spacing
  &-filter + &-list-container
    margin-top filter-list-spacing
    >>> .asl-table
      margin-top filter-list-spacing
