<page-content>
  <div class="categories">
    <div fxLayout="row"
        fxLayout.sm="column"
        fxLayoutAlign="space-between"
        fxLayoutGap="0"
        fxLayoutGap.sm="15px"
        class="categories-filter">
      <select (change)="onPropertyChanged($event.target.value)" fxFlex="25%" fxFlex.md="33%" fxFlex.sm="100%" class="categories-select">
        <option value="">{{ 'COMMON.PROPERTY' | translate }}</option>
        <option *ngFor="let property of properties$ | async"
            [value]="property.propertyId"
            [selected]="property.propertyId === selectedPropertyId">
          {{ property.propertyName }}
        </option>
      </select>
      <asl-button *ngIf="hasEditPermission()" fxFlexAlign.sm="end" (click)="onCreateClicked()">
        {{ 'FACILITIES.CREATE_NEW_CATEGORY' | translate }}
      </asl-button>
    </div>
    <div class="categories-list-wrapper">
      <asl-table [headers]="tableHeaders"
          [data]="data$ | async"
          [columnsTemplate]="columns"
          (onQueryChanged)="onTableQueryChanged($event)"
          class="categories-list-container">
        <ng-template #columns let-row="row">
          <td>{{ row.property }}</td>
          <td>{{ row.category }}</td>
          <td *ngIf="row.quotaType === 'None'">{{ 'FACILITIES.NO_QUOTA_LIMIT' | translate }}</td>
          <td *ngIf="row.quotaType !== 'None'">
            {{ row.quotaValue }} {{ 'FACILITIES.QUOTA' | translate }}/{{ getQuotaLimitUnit(row.quotaType) | translate }}
          </td>
          <td>{{ row.needsApproval ? ('COMMON.NO' | translate) : ('COMMON.YES' | translate) }}</td>
          <td *ngIf="hasEditPermission()">
            <span (click)="onEditClicked(row)" class="categories-list-action">{{ 'COMMON.EDIT' | translate }}</span> | 
            <span (click)="onToggleClicked(row)" class="categories-list-action">
              {{ (row.isEnabled ? 'COMMON.DISABLE' : 'COMMON.ENABLE') | translate }}
            </span>
          </td>
        </ng-template>
      </asl-table>
    </div>
  </div>
</page-content>
<router-outlet (activate)="onChildrenEmit($event)"></router-outlet>
