<div class="modal-content">
  <div class="modal-content-header">
    <ng-content select="[header]"></ng-content>
  </div>
  <div class="modal-content-main">
    <ng-content></ng-content>
  </div>
</div>
