@import 'main.styl'

header-padding = 14px 15px
header-bottom-border = solid 1px #e7eaec
main-padding = 15px 20px 35px

.modal-content
  &-header
    border-bottom header-bottom-border
    font-heading()
    padding header-padding
  &-main
    padding main-padding
