<page-content>
  <div class="bookings">
    <div fxLayout="row"
        fxLayout.sm="column"
        fxLayoutGap="15px"
        class="bookings-filter">
      <select (change)="onPropertyChanged($event.target.value)" fxFlex="25%" fxFlex.md="33%" fxFlex.sm="100%" class="bookings-select">
        <option value="">{{ 'COMMON.PROPERTY' | translate }}</option>
        <option *ngFor="let property of properties$ | async"
            [value]="property.propertyId"
            [selected]="property.propertyId === selectedPropertyId">
          {{ property.propertyName }}
        </option>
      </select>
      <input [(ngModel)]="unitCode"
          (blur)="onUnitCodeInputBlur($event.target.value)"
          (keyup.enter)="onUnitCodeInputEnterKeyUp($event.target.value)"
          [placeholder]="'FACILITIES.UNIT_ID' | translate">
    </div>
    <div class="bookings-list-wrapper">
      <asl-table [headers]="tableHeaders"
          [data]="data$ | async"
          [columnsTemplate]="columns"
          (onQueryChanged)="onTableQueryChanged($event)"
          class="bookings-list-container">
        <ng-template #columns let-row="row">
          <td>{{ row.property }}</td>
          <td>{{ row.category }}</td>
          <td>{{ row.facilityName }}</td>
          <td>{{ row.usageDate }}</td>
          <td>{{ row.timeSlot }}</td>
          <td>{{ row.unitCode }}</td>
          <td>{{ row.residentName }}</td>
          <td>{{ row.residentPhone }}</td>
          <td>{{ row.bookedOn }}</td>
          <td translate>{{ getDisplayStatus(row.status) }}</td>
          <td>{{ row.price }}</td>
          <td>
            <ng-container *ngIf="shouldShowApprove(row)">
              <span (click)="onApproveClicked(row)" class="bookings-list-action">{{ 'COMMON.APPROVE' | translate }}</span> | 
            </ng-container>
            <ng-container *ngIf="shouldShowCancel(row)">
              <span (click)="onCancelClicked(row)" class="bookings-list-action">{{ 'COMMON.CANCEL' | translate }}</span> |
            </ng-container>
            <span (click)="onViewClicked(row)" class="bookings-list-action">{{ 'COMMON.VIEW' | translate }}</span>
          </td>
        </ng-template>
      </asl-table>
    </div>
  </div>
</page-content>
<router-outlet (activate)="onChildrenEmit($event)"></router-outlet>
