<div class="tab">
  <ng-container *ngFor="let item of tabInfo; let index = index">
    <a *ngIf="!isActive(index)"
        (click)="onItemClicked(item, index)"
        [ngClass]="{__active: isActive(index)}"
        [routerLink]="!isActive(index) ? item.href : undefined"
        class="tab-item">
      {{ item.name | translate }}
    </a>
    <a *ngIf="isActive(index)"
        (click)="onItemClicked(item, index)"
        [ngClass]="{__active: isActive(index)}"
        class="tab-item">
      {{ item.name | translate }}
    </a>
  </ng-container>
</div>
