@import 'main.styl'

border-color = #ddd
tabs-border-bottom = 1px solid border-color
tab-item-inner-spacing = 18px 20px 14px 25px
tab-item-outer-spacing = 2px
tab-border-radius = 4px 4px 0 0
tab-hover-color = #e6e6e6

.tab
  border-bottom tabs-border-bottom
  display flex
  &-item
    border 1px solid transparent
    border-radius tab-border-radius
    cursor pointer
    margin-bottom -1px
    padding tab-item-inner-spacing
    &.__active
      background-color color-base
      border-color border-color
      cursor default
      font-normal-bold(color-text-theme-primary)
    &:hover:not(.__active)
      background-color tab-hover-color
  &-item + &-item
    margin-left tab-item-outer-spacing
