@import 'main.styl'

datetime-picker-input-icon-spacing = 10px
upload-button-inner-spacing = 10px
datetime-picker-icon-spacing = 15px
clockpicker-padding = 12px

upload-button()
  align-items center
  border 1px solid color-border
  border-left 0
  cursor pointer
  display flex
  padding-left upload-button-inner-spacing
  padding-right upload-button-inner-spacing
  user-select none
  &:hover
    background-color #e6e6e6
  &:active
    background-color #e6e6e6
    box-shadow 0 2px 5px rgba(0, 0, 0, 0.15) inset
  &:hover:active
    background-color #d4d4d4

.datetime-picker
  &-container
    position relative
  &-icon
    align-items center
    border select-input-border
    border-left 0
    cursor pointer
    display flex
    padding-left clockpicker-padding
    padding-right clockpicker-padding
  &-input
    width 100%
  &-button
    upload-button()

>>>
  datetime-picker
    md2-datepicker
      min-width 0
      .md2-datepicker-trigger
        display none