<md2-datepicker [type]="type"
    #datetimePicker
    [(ngModel)]="datetime"
    (change)="onDatetimeChanged($event)"
    class="datetime-picker-hidden">
</md2-datepicker>
<div fxFlex="1 0 auto" fxLayout="row" class="datetime-picker">
  <div fxFlex="1 0 auto" class="datetime-picker-container">
    <input [value]="getDisplayDatetime()" readonly (click)="onDatetimePickerClicked()" class="datetime-picker-input">
  </div>
  <div *ngIf="shouldShowTimeIcon()" (click)="onDatetimePickerClicked($event)" class="datetime-picker-icon">
    <span class="fa fa-clock-o"></span>
  </div>
</div>
