<modal [(show)]="modalVisible">
  <page-content class="update-categories">
    <modal-content>
      <span header fxFlex="" translate>{{ getIsInEditMode() ? 'FACILITIES.EDIT_CATEGORY' : 'FACILITIES.CREATE_CATEGORY' }}</span>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="update-categories-label-field">
        <div class="update-categories-title __required" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
          {{ 'COMMON.PROPERTY' | translate }}
        </div>
        <select [(ngModel)]="propertyId" fxFlex="1 0 auto">
          <option value="">{{ 'COMMON.SELECT' | translate }}</option>
          <option *ngFor="let property of properties$ | async"
              [value]="property.propertyId"
              [selected]="property.propertyId === modalSelectedPropertyId">
            {{ property.propertyName }}
          </option>
        </select>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="update-categories-label-field">
        <div class="update-categories-title __required" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
            {{ 'FACILITIES.NAME' | translate }}
        </div>
        <input [(ngModel)]="category" fxFlex="1 0 auto">
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="update-categories-label-field">
        <div class="update-categories-title __required" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
            {{ 'FACILITIES.TERMS_AND_CONDITIONS' | translate }}
        </div>
        <file-uploader fxFlex="1 0 auto"
            (onFileChanged)="onTermsAndConditionsChange($event)"
            [(fileName)]="termsAndConditionsFileName"
            [(fileUrl)]="termsAndConditions"
            accept=".pdf">
        </file-uploader>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="update-categories-label-field">
        <div class="update-categories-title" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start"></div>
        <div fxFlex="1 0 auto">
          <div class="update-categories-quota-container">
            <mat-radio-group [(ngModel)]="quotaType" fxLayout="column" fxLayoutGap="15px">
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-radio-button value="Weekly">{{ 'FACILITIES.QUOTA_PER_WEEK' | translate }}</mat-radio-button>
                <mat-radio-button value="None">{{ 'FACILITIES.NO_QUOTA_LIMIT' | translate }}</mat-radio-button>
              </div>
              <div fxLayout="row" fxLayoutGap="10px" class="update-categories-quota-row">
                <mat-radio-button value="Daily" fxFlexAlign="center">{{ 'FACILITIES.QUOTA_PER_DAY' | translate }}</mat-radio-button>
                <mat-radio-button value="Monthly" fxFlexAlign="center">{{ 'FACILITIES.QUOTA_PER_MONTH' | translate }}</mat-radio-button>
                <div class="update-categories-quota-input" fxFlexAlign="center">
                  <input [(ngModel)]="quotaValue" [disabled]="isQuotaValueDisabled()" digitOnly>
                </div>
              </div>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="0" class="update-categories-label-field">
        <div class="update-categories-title" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start"></div>
        <mat-radio-group fxFlex="1 0 auto" [(ngModel)]="needsApproval">
          <div fxLayoutGap="10px" class="update-categories-approval-container">
            <mat-radio-button value="true">{{ 'FACILITIES.REQUIRE_APPROVAL' | translate }}</mat-radio-button>
            <mat-radio-button value="false">{{ 'FACILITIES.AUTO_APPROVED' | translate }}</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="update-categories-label-field">
        <div class="update-categories-title __required" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
            {{ 'FACILITIES.TIME_SLOTS' | translate }}
        </div>
        <div fxFlex="1 0 auto" fxLayout="column" fxLayoutGap="10px">
          <div fxLayout="row" fxLayout.sm="column"
              fxLayoutGap="10px"
              class="update-categories-time-slots-row"
              *ngFor="let timeSlot of timeSlots; let index = index">
            <datetime-picker [defaultDatetime]="timeSlot.from || defaultTimeSlot.from"
                (datetimeChange)="onTimeSlotChanged($event, index, 'from')"
                type="time">
            </datetime-picker>
            <span fxFlexAlign="center" fxFlexAlign.sm="start" class="update-categories-title">{{ 'FACILITIES.TO' | translate }}</span>
            <datetime-picker [defaultDatetime]="timeSlot.to || defaultTimeSlot.to"
                (datetimeChange)="onTimeSlotChanged($event, index, 'to')"
                type="time">
            </datetime-picker>
            <input class="update-categories-slot-numbers" 
            [value]="timeSlot.amount || defaultTimeSlot.amount"
            (change)="onSlotAmountChanged($event,index)" digitOnly>
            <span (click)="onTimeSlotRemoved(index)"
                *ngIf="timeSlots.length > 1"
                fxFlexAlign="center"
                fxFlexAlign.sm="start"
                class="fa fa-minus update-categories-time-slots-minus-icon">
            </span>
          </div>
          <div class="update-categories-time-slots-add">
            <span (click)="onTimeSlotAdded()"
                class="fa fa-plus update-categories-time-slots-add-icon">
            </span>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="update-categories-label-field">
        <div class="update-categories-title" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start"></div>
        <div fxFlex="1 0 auto" class="update-categories-title"><!-- avoid space
          -->{{ 'FACILITIES.DISABLE_CANCELLATION_HOURS_AND_MINS_BEFORE_USAGE_DATE' | translate }}
        </div>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="update-categories-label-field">
        <div class="update-categories-title __required" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">{{ 'FACILITIES.HOURS' | translate }}</div>
        <div fxFlex="1 0 auto" fxLayout="row" fxLayout.sm="column" fxLayoutGap="15px">
          <input [(ngModel)]="cancelHoursInAdvance" digitOnly>
          <span fxFlexAlign="center" fxFlexAlign.sm="start" class="update-categories-title">{{ 'FACILITIES.MINS' | translate }}</span>
          <input [(ngModel)]="cancelMinutesInAdvance" digitOnly>
        </div>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="update-categories-label-field">
        <div class="update-categories-title" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start"></div>
        <div fxFlex="1 0 auto" class="update-categories-title"><!-- avoid space
          -->{{ 'FACILITIES.ADVANCE_BOOKING_PERIOD' | translate }}
        </div>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="update-categories-label-field">
        <div class="update-categories-title __required" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start"><!-- avoid space
        -->{{ 'FACILITIES.THE_MINIMUM_X_DAYS_IN_ADVANCE_FOR_BOOKING' | translate }}
        </div>
        <input [(ngModel)]="minXDaysInAdvanceForBooking" fxFlex="1 0 auto" digitOnly>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="update-categories-label-field">
        <div class="update-categories-title __required" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start"><!-- avoid space
        -->{{ 'FACILITIES.THE_MAXIMUM_Y_DAYS_IN_ADVANCE_FOR_BOOKING' | translate }}
        </div>
        <input [(ngModel)]="maxXDaysInAdvanceForBooking" fxFlex="1 0 auto" digitOnly>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="0" class="update-categories-label-field _actions">
        <div class="update-categories-title" fxFlex="1 1 155px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start"></div>
        <div fxFlex="1 0 auto">
          <asl-button (click)="onSubmitClicked()" [disabled]="isSubmitDisabled()">{{ 'COMMON.SUBMIT' | translate }}</asl-button>
          <asl-button [secondary]="true" (click)="onCancelClicked()">{{ 'COMMON.CANCEL' | translate }}</asl-button>
        </div>
      </div>
    </modal-content>
  </page-content>
</modal>
