@import 'main.styl'

label-field-spacing = 15px
quota-container-inner-spacing = 7px 0 15px
time-slots-row-icon-spacing = 10px
time-slot-spacing = 10px
required-icon-spacing = 5px

.update-categories-slot-numbers
  width 50px

.update-categories
  width modal-min-width-md
  @media screen and (max-width: 768px)
    width 100%
  >>> > *
    margin-left modal-border-outer-spacing
    margin-right modal-border-outer-spacing
  &-title
    font-label()
    &.__required::after
      content '*'
      font-label(color-danger)
      margin-left required-icon-spacing
  &-label-field + &-label-field
    margin-top label-field-spacing
  &-quota
    &-row
      flex-wrap wrap
    &-input
      @media screen and (max-width: 768px)
        flex-basis 100%
        margin-top label-field-spacing
  &-quota-container,
  &-approval-container
      border-bottom border-regular
      padding quota-container-inner-spacing
  &-time-slots
    &-minus,
    &-add
      &-icon
        color color-info
        cursor pointer
        &:hover
          color color-info-hover
