@import 'main.styl'

table-border-color = #ddd
table-cell-padding = 9px
table-border = 1px solid #EBEBEB
th-sorting-icon-spacing = 30px
tr-background-color = #f9f9f9
table-cell-border = 1px solid #e7eaec
table-head-border = 1px solid table-border-color
table-head-background-color-sort = #F5F5F6
table-icon-spacing = 8px
table-row-hover-color = #f5f5f5
table-font-size = 13px
pagination-summary-action-spacing-md = 7px
pagination-summary-action-spacing-sm = 15px
table-pagination-spacing = 14px
table-pagination-action-active-color = #f4f4f4
table-pagination-action-hover-color = #23527c
table-pagination-action-hover-background-color = #eee
table-pagination-action-button-padding = 6px 10px
table-pagination-action-button-radiu-size = 4px

sort-icon()
  font-size table-font-size
  font-weight 700
  opacity 0.2
  position absolute
  right table-icon-spacing
  top 50%
  transform translateY(-50%)

.asl-table
  border table-border
  border-spacing 0
  font-size table-font-size
  width 100%
  th
    &.__sortable
      cursor pointer
    &.__sort
      background-color table-head-background-color-sort
    & .__sorting
      opacity 0.5
  &-sort-icon
    sort-icon()
  &-pagination
    font-size table-font-size
    justify-content center
    position relative
    &-summary
      @media screen and (min-width: 769px) {
        left: 0
        position: absolute
        top: 0
      }
    &-action
      display flex
      &-button
        border 1px solid table-border-color
        cursor pointer
        padding table-pagination-action-button-padding
        user-select none
        &:first-of-type
          border-radius table-pagination-action-button-radiu-size 0 0 table-pagination-action-button-radiu-size
        &:last-of-type
          border-radius 0 table-pagination-action-button-radiu-size table-pagination-action-button-radiu-size 0
        &.__active
          background-color table-pagination-action-active-color
          border-color table-border-color
          cursor default
        &.__ellipsis
          cursor default
        &.__disabled
          cursor not-allowed
        &:hover:not(.__disabled):not(.__ellipsis):not(.__active)
          background-color table-pagination-action-hover-background-color
          border-color #ddd
          color table-pagination-action-hover-color
      &-button + &-button
        margin-left -1px

    &-summary + &-action
      margin-top pagination-summary-action-spacing-sm
      @media screen and (min-width: 769px) {
        margin-top pagination-summary-action-spacing-md
      }

.asl-table + .asl-table-pagination
  margin-top table-pagination-spacing

>>> .asl-table
  tbody
    tr:nth-of-type(odd)
      background-color tr-background-color
    tr:nth-of-type(2n):hover
      background-color table-row-hover-color
  td, th
    padding table-cell-padding
  td
    border-top table-head-border
  th
    border-bottom table-cell-border
    padding-right th-sorting-icon-spacing
    position relative
    text-align left
  td + td,
  th + th
    border-left table-cell-border
