<table class="asl-table">
  <ng-template #column let-row="row">
    {{ row | json }}
  </ng-template>
  <thead>
    <tr>
      <th *ngFor="let head of headers"
          [ngClass]="{ __sortable: head.sortable, __sort: isSortingKey(head.key) }"
          (click)="head.sortable && sort(head.key)"
          [ngStyle]="head.style">
        {{ head.text | translate }}
        <span [ngClass]="{ glyphicon: head.sortable,
                'glyphicon-sort-by-attributes': isAscKey(head.key),
                'glyphicon-sort-by-attributes-alt': isDscKey(head.key),
                'glyphicon-sort': head.sortable && isDefaultSortingKey(head.key),
                __sorting: head.sortable && isSortingKey(head.key) }"
            class="asl-table-sort-icon"
            aria-hidden="true">
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data.data">
      <ng-container *ngTemplateOutlet="columnsTemplate;context:{row: row}"></ng-container>
    </tr>
  </tbody>
</table>
<div class="asl-table-pagination" fxLayout="row" fxLayout.sm="column">
  <div class="asl-table-pagination-summary" fxFlexAlign.sm="center">
    {{ 'ASL_TABLE.SHOWING_COUNTS' | translate: {
      firstNumber: data.totalCount === 0 ?  0 : (getPageNumber() - 1) * take + 1,
      lastNumber: getShowingEndNumber(),
      totalNumber: data.totalCount
    } }}
  </div>
  <div class="asl-table-pagination-action">
    <div [ngClass]="{ __disabled: getPageNumber() === 1 }"
        (click)="getPageNumber() > 1 && selectPage(getPageNumber() - 1)"
        class="asl-table-pagination-action-button">
      {{ 'ASL_TABLE.PREVIOUS' | translate }}
    </div>
    <div *ngFor="let number of getPaginationNumbers()"
        [ngClass]="{ __active: number === getPageNumber(), __ellipsis: number === '...' }"
        (click)="number !== '...' && selectPage(number)"
        class="asl-table-pagination-action-button">
      {{ number }}
    </div>
    <div [ngClass]="{ __disabled: getPageNumber() === getTotalPages() || getTotalPages() === 0 }"
        (click)="getPageNumber() < getTotalPages() && selectPage(getPageNumber() + 1)"
        class="asl-table-pagination-action-button">
        {{ 'ASL_TABLE.NEXT' | translate }}
    </div>
  </div>
</div>
