@import 'main.styl'

button-padding = 6px 12px
button-border-radius = 3px
button-active-shadow = inset 0 3px 5px rgba(0, 0, 0, 0.125)
button-outer-spacing = 3px

.asl-button
  border 1px solid transparent
  border-radius button-border-radius
  cursor pointer
  font-button(color-base)
  min-width 0
  outline none
  padding button-padding
  text-align center
  user-select none
  white-space nowrap
  &:hover:not([disabled])
  &:active
    box-shadow button-active-shadow
  &.__default,
  &.__inverse
    background-color transparent
  &.__primary
    background-color color-text-theme-primary
    &:hover:not([disabled])
      background-color color-text-theme-primary-hover
  &.__secondary
    background-color color-text-theme-secondary
    &:hover:not([disabled])
      background-color color-text-theme-secondary-hover

.asl-button.__primary[disabled]
  cursor not-allowed
  background-color #447e46
  border-color #447e46
  opacity 0.65

>>>
  asl-button + asl-button
    margin-left button-outer-spacing