@import 'normalize.css/normalize.css'
@import './font-awesome/font-awesome.css'
@import './main.styl'
@import './icons/icons.styl'

:root
  background-color color-bg

html
  height 100%
  body
    font-normal()
    height 100%
    margin 0

*,
*::before,
*::after
  box-sizing inherit
  font-family inherit
  outline none

a,
a:active
  color color-text-base
  text-decoration none !important

p
  line-height 1.5

input
  min-width 0

img
  max-width 100%

button
  color inherit

button,
input,
optgroup,
select,
textarea
  /* Overriding a style coming from normalize.css */
  font-family inherit

option,
option::after,
option::before
  transition none

input,
textarea,
select
	background-color #FFFFFF
	background-image none
	border 1px solid #c1c1c1
	border-radius 1px
	display block
	padding 6px 12px
	transition border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s
textarea:hover,
input:hover,
select:hover
  border-color #153d49 !important
textarea[disabled],
input[disabled],
select[disabled]
  background-color #eee
  cursor not-allowed
textarea
input,
select
  color color-text-base
  line-height 20px
