@import './variables.styl'
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-radio-checked
  .mat-radio-outer-circle
    border-color color-radio !important
.mat-radio-outer-circle
  border-width 1px !important
  height 16px !important
  left 2px !important
  top 2px !important
  width 16px !important
.mat-radio-inner-circle
  background-color color-radio !important
.mat-ripple-element
  background-color color-radio !important
