@import './variables.styl'
@import './fonts/font-face.styl'

font-normal(color = color-text-base)
  color color
  font-family font-family
  font-size font-size-md
  font-weight font-weight-regular
  line-height calc(18 / 14)

font-small(color = color-text-base)
  color color
  font-family font-family
  font-size font-size-sm
  font-weight font-weight-regular
  line-height calc(18 / 12)

font-heading(color = color-text-base)
  color color
  font-family font-family
  font-size font-size-lg
  font-weight font-weight-regular
  line-height calc(20 / 16)


font-button(color = color-text-base)
  color color
  font-family font-family
  font-size font-size-md
  font-weight font-weight-regular
  line-height calc(20 / 14)


font-form-label(color = color-text-base)
  color color
  font-family font-family
  font-size 0.8125rem
  font-weight font-weight-regular
  line-height calc(15 / 13)


font-form-field(color = color-text-base)
  color color
  font-family font-family
  font-size font-size-md
  font-weight font-weight-regular
  line-height calc(15 / 14)


font-table-label(color = color-text-base)
  color color
  font-family font-family
  font-size font-size-md
  font-weight font-weight-medium
  line-height calc(18 / 14)

font-normal-bold(color = color-text-base)
  color color
  font-family font-family
  font-size font-size-md
  font-weight font-weight-bold
  line-height calc(18 / 14)

font-xl-medium(color = color-text-blue-secondary)
  color color
  font-family font-family
  font-size font-size-xl
  font-weight font-weight-medium
  line-height calc(20 / 18)

font-xxl-medium(color = color-text-blue-secondary)
  color color
  font-family font-family
  font-size font-size-xxl
  font-weight font-weight-medium
  line-height calc(20 / 20)

font-label(color = color-text-base)
  color color
  cursor default
  font-family font-family
  font-size 13px
  font-weight font-weight-bold
  line-height calc(16 / 13)

font-linkable(color = color-info)
  color color-info
  cursor pointer
  font-family font-family
  font-size 13px
  line-height calc(18 / 13)
  user-select none
  &:active,
  &:hover
    color color-info-hover
