color-bg = #f3f3f4
color-grey = #999
color-base = #fff
color-border = #ced6e1
color-text-base = #676a6c
color-text-grey = #666
color-text-grey-light = #ccc
color-text-theme-primary = #639f65
color-text-theme-primary-hover = #447e46
color-text-theme-secondary = #245564
color-text-theme-secondary-hover = #153d49
color-text-theme-light = #7e8ca3
color-info = #337ab7
color-info-hover = #23527c
color-success = #83c03b
color-danger = #e30d0d
color-disable = color-grey
color-dialog-button = #438df3
color-dialog-button-secondary = color-grey
color-radio = #5bc0de

border-regular = 1px solid #e7eaec
border-radius-base = 4px

select-input-border = 1px solid #c1c1c1

page-content-spacing-base = 20px
page-content-spacing-top = 15px

modal-min-width-sm = 600px
modal-min-width-md = 750px
modal-border-outer-spacing = 10px

font-family = "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
font-size-sm = 0.75rem
font-size-md = 0.875rem
font-size-lg = 1rem
font-size-xl = 1.125rem
font-size-xxl = 1.25rem
font-weight-ultra-light = 100
font-weight-light = 300
font-weight-regular = 400
font-weight-medium = 600
font-weight-bold = 700
font-weight-black-cond = 900
letter-spacing = 1px
font-size-base = 1em
font-size-page-header = 1.5em
font-size-page-subheader = 1.125em
font-size-section-header = 0.875em
font-size-input = 0.875em