<confirm-dialog [(show)]="confirmDialogVisible"
    (confirm)="onConfirmed()"
    (cancel)="onCancelled()"
    header="{{ getStatusActionText() }}"
    [message]="getActionMessage()"
    class="status-facilities">
  <div *ngIf="getIsCancel()" modal-body class="status-facilities-body">
    {{ 'FACILITIES.REASON' | translate }}: <textarea [(ngModel)]="reason" class="status-facilities-reason"></textarea>
  </div>
</confirm-dialog>
