label-reason-spacing = 10px
textarea-reason-height = 80px

dialog-font-body()
  display flex
  font-size 13px
  line-height calc(22/ 13)
  margin-top 10px

.status-facilities
  &-body
    dialog-font-body()
  &-reason
    flex-grow 1
    height textarea-reason-height
    margin-left label-reason-spacing
