<page-content>
  <div class="news-announcements">
    <div fxLayout="row"
        fxLayout.sm="column"
        fxLayoutAlign="space-between"
        fxLayoutGap="0"
        fxLayoutGap.sm="15px"
        class="news-announcements-filter">
      <select (change)="onPropertyChangedPage($event.target.value)" fxFlex="25%" fxFlex.md="33%" fxFlex.sm="100%" class="categories-select">
        <option value="">{{ 'COMMON.PROPERTY' | translate }}</option>
        <option *ngFor="let property of properties$ | async"
            [value]="property.propertyId"
            [selected]="property.propertyId === getSelectedPropertyId()">
          {{ property.propertyName }}
        </option>
      </select>
      <asl-button *ngIf="hasEditPermission()" fxFlexAlign.sm="end" (click)="onCreateClicked()">
        {{ 'PROMOTIONS.CREATE_PROMOTIONS' | translate }}
      </asl-button>
    </div>
    <div class="news-announcements-list-wrapper">
      <asl-table [headers]="tableHeaders"
          [data]="list$ | async"
          [columnsTemplate]="columns"
          (onQueryChanged)="onTableQueryChanged($event)"
          class="news-announcements-list-container">
        <ng-template #columns let-row="row">
          <td>{{ row.propertyName }}</td>
          <td>{{ row.category }}</td>
          <td>{{ row.title }}</td>
          <td>{{ row.fileName }}</td>
          <td translate>{{ row.isPinnedOnTop ? 'COMMON.YES' : 'COMMON.NO' }}</td>
          <td>{{ row.publishTime }}</td>
          <td>{{ row.expiryTime }}</td>
          <td *ngIf="hasEditPermission()">
            <span (click)="onClickEdit(row)" class="news-announcements-list-action">{{ 'COMMON.EDIT' | translate }}</span> | 
            <span (click)="idDelete = row.id" class="news-announcements-list-action">{{ 'COMMON.DELETE' | translate }}</span> |
            <span (click)="handleClickPin(row)" class="news-announcements-list-action">
              {{ (row.isPinnedOnTop ? 'PROMOTIONS.UNPIN' : 'PROMOTIONS.PIN_ON_TOP') | translate }}
            </span>
          </td>
        </ng-template>
      </asl-table>
    </div>
  </div>

  <modal [(show)]="modalVisible">
    <form [formGroup]="form">
      <page-content class="news-update-modal">
        <modal-content>
          <span header fxFlex="" translate>
            {{
              'PROMOTIONS.CREATE_PROMOTIONS'
            }}
          </span>
          <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
            <div class="news-update-modal-title" [ngClass]="{'__required': isCheckProperty}" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
              {{ 'COMMON.PROPERTY' | translate }}
            </div>
            <select name="propertyId" (change)="onPropertyChanged($event.value)" fxFlex="1 0 auto" formControlName="propertyId">
              <option value="">{{ 'COMMON.SELECT' | translate }}</option>
              <option *ngFor="let property of properties$ | async"
                  [value]="property.propertyId" >
                {{ property.propertyName }}
              </option>
            </select>
          </div>
          <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
            <div class="news-update-modal-title __required" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
                {{ 'COMMON.CATEGORY' | translate }}
            </div>
            <select fxFlex="1 0 auto" formControlName="categoryId">
              <option value="">{{ 'COMMON.SELECT' | translate }}</option>
              <option *ngFor="let categoryItem of categoriesNames$ | async"
                  [value]="categoryItem.id">
                {{ categoryItem.category }}
              </option>
            </select>
          </div>
          <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
            <div class="news-update-modal-title __required" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
                {{ 'PROMOTIONS.NAME' | translate }}
            </div>
            <input trim fxFlex="1 0 auto" formControlName="title">
          </div>
          <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
            <div class="news-update-modal-title __required" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
                {{ 'PROMOTIONS.PUBLISH_TIME' | translate }}
            </div>
            <div fxFlex="1 0 auto">
              <datetime-picker [(datetime)]="selectedPublishTime" type="datetime"></datetime-picker>
            </div>
          </div>
          <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
            <div class="news-update-modal-title __required" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
                {{ 'PROMOTIONS.EXPIRY_TIME' | translate }}
            </div>
            <div fxFlex="1 0 auto">
              <datetime-picker [(datetime)]="selectedExpiryDate" type="datetime"></datetime-picker>
            </div>
          </div>

          <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
            <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
                {{ 'PROMOTIONS.DISPLAY_CAROUSEL' | translate }}
            </div>
            <div fxFlex="1 0 auto">
            <mat-card>
              <section class="example-section">
                <mat-checkbox color="primary" formControlName="isCarousel" class="example-margin"></mat-checkbox>
              </section>
            </mat-card>
            </div>
          </div>

          <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
            <div class="news-update-modal-title" [ngClass]="{ '__required': getValue('isCarousel') }" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
                {{ 'PROMOTIONS.CAROUSEL_IMAGE' | translate }}
            </div>
            <file-uploader fxFlex="1 0 auto"
              (onFileChanged)="onImageCarousel($event)"
              [(fileName)]="carouselImageName"
              [(fileUrl)]="carouselImageUrl"
              accept="image/*">
            </file-uploader>
          </div>
          <div *ngIf="carouselImageUrl" fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field _image">
            <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start"></div>
            <div fxFlex="1 0 auto">
              <img class="news-update-modal-image"
                  [src]="carouselImageUrl">
            </div>
          </div>

          <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
            <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
                {{ 'PROMOTIONS.DISPLAY_LIST' | translate }}
            </div>
            <div fxFlex="1 0 auto">
            <mat-card>
              <section class="example-section">
                <mat-checkbox color="primary" formControlName="isShowHome" class="example-margin"></mat-checkbox>
              </section>
            </mat-card>
            </div>
          </div>


          <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
            <div class="news-update-modal-title" [ngClass]="{ '__required': getValue('isShowHome') }" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
                {{ 'PROMOTIONS.DESCRIPTION' | translate }}
            </div>
            <input trim fxFlex="1 0 auto" formControlName="brief">
          </div>
          <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
            <div class="news-update-modal-title" [ngClass]="{ '__required': getValue('isShowHome') }" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
                {{ 'PROMOTIONS.IMAGE' | translate }}
            </div>
            <file-uploader fxFlex="1 0 auto"
              (onFileChanged)="onImageChange($event)"
              [(fileName)]="imageName"
              [(fileUrl)]="imageUrl"
              accept="image/*">
            </file-uploader>
          </div>
          <div *ngIf="imageUrl" fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field _image">
            <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start"></div>
            <div fxFlex="1 0 auto">
              <img class="news-update-modal-image"
                  [src]="imageUrl">
            </div>
          </div>

          <p class="mt-30"><span>*</span>{{ 'PROMOTIONS.DESC_FILE_LINK_1' | translate }}</p>
          <p>{{ 'PROMOTIONS.DESC_FILE_LINK_2' | translate }}</p>
          <p class="mt-10">{{ 'PROMOTIONS.DESC_FILE_LINK_3' | translate }}</p>
          <div class="group-link">
            <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
              <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
                  {{ 'PROMOTIONS.FILE' | translate }}
              </div>
              <file-uploader fxFlex="1 0 auto"
                (onFileChanged)="onContentChange($event)"
                [(fileName)]="fileName"
                [(fileUrl)]="content"
                accept=".pdf,image/*"
                > </file-uploader>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
              <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
                  {{ 'PROMOTIONS.OR_LINK' | translate }}
              </div>
              <input trim fxFlex="1 0 auto" formControlName="link">
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
              <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
                  {{ 'PROMOTIONS.OR_DYNAMIC_LINK' | translate }}
              </div>
              <input trim fxFlex="1 0 auto" formControlName="deepLink" >
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
              <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
                  {{ 'PROMOTIONS.IN_APP_NAVIGATION' | translate }}
              </div>
              <input trim fxFlex="1 0 auto" formControlName="navigateLink">
            </div>
          </div>

          <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="0" class="news-update-modal-label-field _actions">
            <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start"></div>
            <div fxFlex="1 0 auto">
              <asl-button [disabled]="isSubmit()" (click)="handleSubmitForm()">{{ 'COMMON.SUBMIT' | translate }}</asl-button>
              <asl-button [secondary]="true" (click)="onCancelClicked()">{{ 'COMMON.CANCEL' | translate }}</asl-button>
            </div>
          </div>
        </modal-content>
      </page-content>
    </form>
  </modal>

  <confirm-dialog [(show)]="!!idDelete"
    (confirm)="onDeleteConfirmed()"
    [header]="'COMMON.DELETE' | translate"
    [autoClose]="true"
    [message]="'PROMOTIONS.ARE_YOU_SURE_WANT_TO_DELETE_THIS_PROMOTION_?' | translate">
  </confirm-dialog>

  <confirm-dialog [(show)]="!!idPin"
    (confirm)="onPinConfirmed()"
    (cancel)="onPinCancelled()"
    [header]="'PROMOTIONS.PIN_ON_TOP'"
    [message]="isPinnedOnTop ?
      'PROMOTIONS.ARE_YOU_SURE_WANT_TO_UNPIN_THIS_PROMOTION_?' :
      'PROMOTIONS.ARE_YOU_SURE_WANT_TO_PINT_TO_TOP_THIS_PROMOTION_?' | translate">
  </confirm-dialog>

</page-content>
