<modal [(show)]="modalVisible">
  <page-content class="news-update-modal">
    <modal-content>
      <span header fxFlex="" translate>
        {{
          getIsInEditMode() ?
            'NEWS.EDIT_NEWS_ANNOUNCEMENTS' :
            'NEWS.CREATE_NEWS_ANNOUNCEMENTS'
        }}
      </span>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
        <div class="news-update-modal-title __required" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
          {{ 'COMMON.PROPERTY' | translate }}
        </div>
        <select [(ngModel)]="propertyId" (change)="onPropertyChanged()" fxFlex="1 0 auto">
          <option value="">{{ 'COMMON.SELECT' | translate }}</option>
          <option *ngFor="let property of properties$ | async"
              [value]="property.propertyId"
              [selected]="property.propertyId === modalSelectedPropertyId">
            {{ property.propertyName }}
          </option>
        </select>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
        <div class="news-update-modal-title __required" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
            {{ 'COMMON.CATEGORY' | translate }}
        </div>
        <select [(ngModel)]="categoryId" [disabled]="!propertyId" fxFlex="1 0 auto">
          <option value="">{{ 'COMMON.SELECT' | translate }}</option>
          <option *ngFor="let categoryItem of newsCategoriesNames$ | async"
              [value]="categoryItem.id"
              [selected]="categoryItem.id === categoryId">
            {{ categoryItem.category }}
          </option>
        </select>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
        <div class="news-update-modal-title __required" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
            {{ 'NEWS.NAME' | translate }}
        </div>
        <input trim [(ngModel)]="title" fxFlex="1 0 auto">
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
        <div class="news-update-modal-title __required" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
            {{ 'NEWS.PUBLISH_TIME' | translate }}
        </div>
        <div fxFlex="1 0 auto">
          <datetime-picker [(datetime)]="selectedPublishTime" type="datetime"></datetime-picker>
        </div>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
        <div class="news-update-modal-title __required" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
            {{ 'NEWS.EXPIRY_TIME' | translate }}
        </div>
        <div fxFlex="1 0 auto">
          <datetime-picker [(datetime)]="selectedExpiryDate" type="datetime"></datetime-picker>
        </div>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
        <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
            {{ 'NEWS.DESCRIPTION' | translate }}
        </div>
        <input trim [(ngModel)]="brief" fxFlex="1 0 auto">
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
        <div class="news-update-modal-title __required" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
            {{ 'NEWS.IMAGE' | translate }}
        </div>
        <file-uploader fxFlex="1 0 auto"
            (onFileChanged)="onImageChange($event)"
            [(fileName)]="imageName"
            [(fileUrl)]="imageUrl"
            accept="image/*">
        </file-uploader>
      </div>
      <div *ngIf="imageUrl" fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field _image">
        <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start"></div>
        <div fxFlex="1 0 auto">
          <img class="news-update-modal-image"
              [src]="imageUrl">
        </div>
      </div>

      <p class="mt-30"><span>*</span>{{ 'NEWS.DESC_FILE_LINK_1' | translate }}</p>
      <p>{{ 'NEWS.DESC_FILE_LINK_2' | translate }}</p>
      <p class="mt-10">{{ 'NEWS.DESC_FILE_LINK_3' | translate }}</p>

      <div class="group-link">
        <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
          <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
              {{ 'NEWS.FILE' | translate }}
          </div>
          <file-uploader fxFlex="1 0 auto"
              (onFileChanged)="onContentChange($event)"
              [(fileName)]="fileName"
              [(fileUrl)]="content"
              accept=".pdf,image/*">
          </file-uploader>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
          <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
              {{ 'SERVICES.OR_LINK' | translate }}
          </div>
          <input trim fxFlex="1 0 auto" [(ngModel)]="link">
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
          <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
              {{ 'SERVICES.OR_DYNAMIC_LINK' | translate }}
          </div>
          <input trim fxFlex="1 0 auto" [(ngModel)]="deepLink" >
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="8px" class="news-update-modal-label-field">
          <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start">
              {{ 'SERVICES.IN_APP_NAVIGATION' | translate }}
          </div>
          <input trim fxFlex="1 0 auto" [(ngModel)]="navigateLink">
        </div>
      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="30px" fxLayoutGap.sm="0" class="news-update-modal-label-field _actions">
        <div class="news-update-modal-title" fxFlex="1 1 117px" fxFlex.sm="1 1 auto" fxLayoutAlign="end" fxLayoutAlign.sm="start"></div>
        <div fxFlex="1 0 auto">
          <asl-button (click)="onSubmitClicked()" [disabled]="isSubmitDisabled()">{{ 'COMMON.SUBMIT' | translate }}</asl-button>
          <asl-button [secondary]="true" (click)="onCancelClicked()">{{ 'COMMON.CANCEL' | translate }}</asl-button>
        </div>
      </div>
    </modal-content>
  </page-content>
</modal>
