@import 'main.styl'

news-announcements-bottom-spacing = 20px
table-wrapper-padding-bottom = 30px
filter-list-spacing = 25px
label-field-spacing = 15px

.news-announcements
  padding page-content-spacing-top page-content-spacing-base news-announcements-bottom-spacing
  &-select
    width 100%
  &-list-action
    font-linkable()
  &-list-wrapper
    overflow-x auto
    padding-bottom table-wrapper-padding-bottom
  &-filter + &-list-wrapper
    margin-top filter-list-spacing
  &-update-modal
    max-width modal-min-width-sm
    width 100%
    &-title
      font-label()
      white-space pre
      &.__required::after
        content '*'
        font-label(color-danger)
    &-label-field + &-label-field
      margin-top label-field-spacing
