<page-content>
  <div class="news-announcements">
    <div fxLayout="row"
        fxLayout.sm="column"
        fxLayoutAlign="space-between"
        fxLayoutGap="0"
        fxLayoutGap.sm="15px"
        class="news-announcements-filter">
      <select (change)="onPropertyChanged($event.target.value)" fxFlex="25%" fxFlex.md="33%" fxFlex.sm="100%" class="categories-select">
        <option value="">{{ 'COMMON.PROPERTY' | translate }}</option>
        <option *ngFor="let property of properties$ | async"
            [value]="property.propertyId"
            [selected]="property.propertyId === getSelectedPropertyId()">
          {{ property.propertyName }}
        </option>
      </select>
      <asl-button *ngIf="hasEditPermission()" fxFlexAlign.sm="end" (click)="onCreateClicked()">
        {{ 'NEWS.CREATE_NEWS' | translate }}
      </asl-button>
    </div>
    <div class="news-announcements-list-wrapper">
      <asl-table [headers]="tableHeaders"
          [data]="list$ | async"
          [columnsTemplate]="columns"
          (onQueryChanged)="onTableQueryChanged($event)"
          class="news-announcements-list-container">
        <ng-template #columns let-row="row">
          <td>{{ row.propertyName }}</td>
          <td>{{ row.category }}</td>
          <td>{{ row.title }}</td>
          <td>{{ row.fileName }}</td>
          <td translate>{{ row.isPinnedOnTop ? 'COMMON.YES' : 'COMMON.NO' }}</td>
          <td>{{ row.uploadedBy }}</td>
          <td>{{ row.publishTime }}</td>
          <td>{{ row.expiryTime }}</td>
          <td *ngIf="hasEditPermission()">
            <span (click)="onEditClicked(row)" class="news-announcements-list-action">{{ 'COMMON.EDIT' | translate }}</span> | 
            <span (click)="onDeleteClicked(row)" class="news-announcements-list-action">{{ 'COMMON.DELETE' | translate }}</span> |
            <span (click)="onPinClicked(row)" class="news-announcements-list-action">
              {{ (row.isPinnedOnTop ? 'NEWS.UNPIN' : 'NEWS.PIN_ON_TOP') | translate }}
            </span>
          </td>
        </ng-template>
      </asl-table>
    </div>
  </div>
</page-content>
<router-outlet (activate)="onChildrenEmit($event)"></router-outlet>
