@import 'main.styl'

bordr-radius = 4px
content-padding = 15px 15px 25px
content-border = 1px solid #e5e5e5
header-message-spacing = 10px
footer-padding = 15px
button-size = 64px

dialog-font-header()
  color #333
  font-size font-size-lg
  font-weight font-weight-medium

dialog-font-message()
  font-size 13px
  line-height calc(22/ 13)

close-icon()
  color #000
  cursor pointer
  font-size 21px
  font-weight 700
  opacity 0.2
  position absolute
  right 18px
  top 10px
  &:hover
    opacity 0.5

.confirm-dialog
  &-container
    position relative
    max-width modal-min-width-sm
    width 100%
    >>> > *
      margin-left modal-border-outer-spacing
      margin-right modal-border-outer-spacing
  &-close-icon
    close-icon()
  &-content
    border-bottom content-border
    padding content-padding
    position relative
  &-header
    dialog-font-header()
  &-message
    dialog-font-message()
  &-header + &-message
    margin-top header-message-spacing
  &-footer
    padding footer-padding
    text-align right

>>>
  .confirm-dialog
    .page-content
      border-radius bordr-radius
    .asl-button
      width button-size

@media screen and (max-width: 768px)
  .confirm-dialog
    &-container
      max-width 100%
