<modal [(show)]="show" class="confirm-dialog">
  <page-content class="confirm-dialog-container">
    <div class="confirm-dialog-content">
      <div (click)="onCancelled()" class="confirm-dialog-close-icon">×</div>
      <div class="confirm-dialog-header" translate>{{ header }}</div>
      <div *ngIf="message" class="confirm-dialog-message" translate>{{ message }}</div>
      <ng-content select="[modal-body]"></ng-content>
    </div>
    <div class="confirm-dialog-footer">
      <ng-container *ngIf="defaultFooter">
        <asl-button (click)="onConfirmed()">{{ 'COMMON.YES' | translate }}</asl-button>
        <asl-button (click)="onCancelled()" [secondary]="true">{{ 'COMMON.NO' | translate }}</asl-button>
      </ng-container>
      <ng-content select="[modal-footer]"></ng-content>
    </div>
  </page-content>
</modal>
