@import 'main.styl'

news-announcements-bottom-spacing = 20px
table-wrapper-padding-bottom = 30px
filter-list-spacing = 25px
label-field-spacing = 15px

news-bottom-spacing = 50px
filter-list-spacing = 25px
label-field-spacing = 15px
label-actions-spacing = 24px
label-image-spacing = 24px
upload-button-inner-spacing = 10px
image-max-width = 413px
image-max-height = 200px
file-input-inner-spacing = 28px
file-input-icon-spacing = 10px
clockpicker-padding = 12px

select
  width 200px

.news-announcements
  padding page-content-spacing-top page-content-spacing-base news-announcements-bottom-spacing
  &-select
    width 100%
  &-list-action
    font-linkable()
  &-list-wrapper
    overflow-x auto
    padding-bottom table-wrapper-padding-bottom
  &-filter + &-list-wrapper
    margin-top filter-list-spacing
  &-update-modal
    max-width modal-min-width-sm
    width 100%
    &-title
      font-label()
      white-space pre
      &.__required::after
        content '*'
        font-label(color-danger)
    &-label-field + &-label-field
      margin-top label-field-spacing


upload-button()
  align-items center
  border 1px solid color-border
  cursor pointer
  display flex
  padding-left upload-button-inner-spacing
  padding-right upload-button-inner-spacing
  user-select none
  &:hover
    background-color #e6e6e6
  &:active
    background-color #e6e6e6
    box-shadow 0 2px 5px rgba(0, 0, 0, 0.15) inset
  &:hover:active
    background-color #d4d4d4

.news
  &-update-modal
    max-width modal-min-width-sm
    width 100%
    @media screen and (max-width: 768px)
      max-width  100%
      >>> .page-content
        margin-left modal-border-outer-spacing
        margin-right modal-border-outer-spacing
      >>> .modal-content
        padding-left 5%
        padding-right 5%
    &-title
      font-label()
      white-space pre
      &.__required::after
        content '*'
        font-label(color-danger)
    &-label-field + &-label-field
      margin-top label-field-spacing
    &-label-field + ._actions
      margin-top label-actions-spacing
    &-label-field + ._image
      margin-top label-image-spacing
    &-upload-button
      upload-button()
    input + &-upload-button,
    &-upload-button + &-upload-button
      border-left 0
    &-uploader
      display none
    &-image
      max-width image-max-width
      max-height image-max-height
      object-fit cover
      width: 100%
    &-file
      &-input
        padding-left file-input-inner-spacing
        width 100%
      &-container
        position relative
      &-icon
        left file-input-icon-spacing
        position absolute
        top 50%
        transform translateY(-50%)
    &-clockpicker
      &-input
        width 100%
      &-icon
        align-items center
        border select-input-border
        border-left 0
        cursor pointer
        display flex
        padding-left clockpicker-padding
        padding-right clockpicker-padding


form
  width 100%
  max-width 600px

  .group-link
    border 1px solid #d5d5d5d5
    padding 10px
    padding-left 15px
    margin-top 10px
    margin-bottom 10px
  p
    margin 0
    font-size 13px
    &.mt-30
      margin-top 30px
    &.mt-10
      margin-top 10px
    span
      color #e30d0d
      margin-right 5px